{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block content %}

<div class="page-header">
    {% if object %}
    <h1>Edit {{ object.location }}</h1>
    {% else %}
    <h1>Add a Property</h1>
    {% endif %}
</div>

<form action="" method="post" class="form-container" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
                {% if field.name == 'image' %}
                    <div class="image-field">
                        {% if field.value %}
                            <p class="current-image">
                                Currently: <a href="{{ field.value.url }}" target="_blank">{{ field.value }}</a>
                            </p>
                        {% endif %}
                        <!-- Manually render the file input -->
                        <input type="file" name="{{ field.name }}" id="{{ field.id_for_label }}" accept="image/*">
                        {% if field.field.required == False %}
                            <label class="clear-checkbox">
                                <input type="checkbox" name="{{ field.html_name }}_clear" id="{{ field.id_for_label }}_clear">
                                Clear
                            </label>
                        {% endif %}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}