{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
  main {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: blanchedalmond;
}
  /* Center all headings and paragraphs */
  h1, .page-content {
    text-align: center;
  }
  /* Center the logo container */
  .logo-container {
    text-align: center;
  }
  /* Center the image inside the container */
  .logo-container img {
    display: inline-block;
    width: 30%;
    display: center;
  }
</style>
{% endblock head %}

{% block content %}
<h1>Realtor App</h1>
<hr>
<section class="logo-container">
    <div class="container">    
       <img src="{% static 'images/logo.png' %}" alt="Text reads: Realtor App" />
    </div>
</section>
<hr>
<p class="page-content">
    Houses for Sale.
</p>
{% endblock %}
