{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

<main>
    <div class="background-image"></div> <!-- Separate background div -->
    
    {% if user.is_authenticated %}
    <section class="welcome-container">
        <h1>Welcome to Realtor App!</h1>
        <p>Please choose from one of the following options:</p>
        <div class="options-box">
            <a href="{% url 'properties-index' %}" class="option-btn">Properties</a>
            <a href="{% url 'property-create' %}" class="option-btn">Add Property</a>
            <a href="{% url 'about' %}" class="option-btn">About</a>
        </div>
    </section>
    {% else %}
    <section class="login-container">
        <form action="{% url 'home' %}" method="POST" class="login">
            <h1>Login</h1>
            <h2 class="custom-error">Please enter a correct username and password.</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn submit">Login</button>
        </form>
    </section>
    {% endif %}
</main>

{% endblock %}