{% extends 'base.html' %}
{% load static %}

<!-- add custom css -->

{% block head %}
<link rel="stylesheet" href="{% static 'css/properties/property-detail.css' %}">
<style>
    h1 { display: block !important; color: black !important; }
    .property-img img { max-width: 100%; height: auto; }
</style>
{% endblock head %}


{% block content %}
<section class="property-container">
    <div class="property-img">
        <p>Debug: Image = {{ property.image }}</p>
        {% if property.image %}
            <img src="{{ property.image.url }}" alt="{{ property.location }}">
        {% else %}
            <p>No image available</p>
        {% endif %}
       
    </div>
    <div class="property-details">
        <h1>{{ property.location }}</h1>

        <h1>$ {{ property.price }}</h1>          
        
        <h1>{{ property.description }}</h1>
        

        <div class="property-actions">
            <a href="{% url 'property-update' property.id %}" class="btn warn">Edit</a>
            <a href="{% url 'property-delete' property.id %}" class="btn danger">Delete</a>
    </div>
</section>

<!-- Existing property-container above -->
<div class="appointment-container">
    <section class="appointments">

        <div class="subsection-title">
            <h2>Appointments</h2>
            <!-- <img src="{% static 'images/property-cone.svg' %}" alt="An ice cream cone property" />
            <img src="{% static 'images/property-onigiri.svg' %}" alt="A property as onigiri" />
            <img src="{% static 'images/kitty-kabob.svg' %}" alt="A kabob of kittens" /> -->
        </div>

        <h3>Add an Appointment</h3>
        <form action="{% url 'add-appointment' property.id %}" method="post" class="subsection-content">
            {% csrf_token %}
            {{ appointment_form.as_p }}
            <button type="submit" class="btn submit">Add Appointment</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Appointment</th>
                </tr>
            </thead>
            <tbody>

                <!-- the model that doesn't have the FK (foreign key)
         can always access the many side by using 
         related model_set example property.feeding_set.all() -->

                {% for appointment in property.appointment_set.all %}
                <tr>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.get_appointment_display}}</td>
                    <td>
                        <a href="{% url 'appointment-delete' property_id=property.id pk=appointment.id %}" class="btn danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>




{% endblock content %}
